body {
    background-color: #eadb52;
    border: solid 10px #000000;
    border-radius: 20px;
}
h1 {
    color: #f80000;
    font-family: 'Times New Roman', Times, serif;
}
h2 {
    color: #f80000;
    font-family: 'Times New Roman', Times, serif;
}
p {
    color: #000000;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.a {
    color: #000000;
}
.titulo {
    text-align: center;
}